@media only screen and (max-width: 1460px) {
  .navigation {
    padding: 0 100px;
    .navi-links {
      position: absolute;
      top: 70px;
      left: -100%;
      z-index: 100;
      width: 100%;
      height: 100vh;
      background: #101820ff;
      text-align: center;
      transition: 0.5s ease;
      z-index: 100;
      ul {
        display: block;
        margin-top: 50px;
        li {
          margin-bottom: 35px;
          width: 100%;
          text-align: center;

          a {
            display: inline-block;
            width: 100%;
            margin: 0;
          }
          .translate-btn {
            display: block;
          }
        }
      }
    }
    .hamburger {
      display: block;
      right: 150px;
      top: 10px;
    }
    .navi-links-show {
      left: 0;
    }
  }
  .landing-page {
    .translate-btns {
      display: none;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .portfolio {
    .heading {
      h2 {
        font-size: $h2FontSizeLg;
      }
    }
  }
  .about {
    .heading {
      h2 {
        font-size: $h2FontSizeLg;
      }
    }
  }
  .about-text {
    p {
      font-size: $pFontSizeLg;
    }
  }
  .cta-contact {
    .btn-contact {
      font-size: $landPageBtnFontSizeLg;
    }
  }
}

//Gallery
.gallery {
  .heading {
    h2 {
      font-size: $h2FontSizeLg;
    }
  }
  .about-images {
    p {
      font-size: $pFontSizeLg;
    }
    .image-carousel {
      .carousel {
        .carousel-inner {
          .carousel-item {
            height: 580px;
          }
        }
      }
    }
  }

  //Contact
  .contact {
    .heading {
      h2 {
        font-size: $h2FontSizeLg;
      }
    }
    .contact-info {
      .box {
        p {
          font-size: $pFontSizeLg - 2px;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .gallery {
    .image-carousel {
      .carousel {
        .carousel-inner {
          .carousel-item {
            height: 460px;
          }
        }
      }
    }
  }
  //Contact
  .contact {
    .heading {
      h2 {
        font-size: $h2FontSizeLg;
      }
    }
    .contact-info {
      .boxes {
        flex-direction: column;
      }
      .box {
        margin-bottom: 20px;

        p {
          font-size: $pFontSizeLg - 2px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .preload-page {
    h2 {
      font-size: $h2FontSizeXl;
    }
  }
  .portfolio {
    .heading {
      h2 {
        font-size: $h2FontSizeSm;
      }
    }
  }
  .navigation {
    padding: 0 20px;
    .logo {
      img {
        width: 200px;
      }
    }
    .hamburger {
      right: 60px;
    }
  }

  .about {
    .heading {
      h2 {
        font-size: $h2FontSizeSm;
      }
    }
    .about-text {
      p {
        font-size: $pFontSizeSm;
      }
    }
    .cta-contact {
      .btn-contact {
        font-size: $landPageBtnFontSizeSm;
      }
    }
  }

  .gallery {
    .heading {
      h2 {
        font-size: $h2FontSizeLg;
      }
    }
    .about-images {
      p {
        font-size: $pFontSizeSm;
      }
    }
    .image-carousel {
      .carousel {
        .carousel-inner {
          .carousel-item {
            height: 450px;
          }
        }
      }
    }
  }
}

.contact {
  .heading {
    h2 {
      font-size: $h2FontSizeSm;
    }
  }
  .contact-info {
    .box {
      p {
        font-size: $pFontSizeSm;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .preload-page {
    h2 {
      font-size: $h1FontSizeMob;
    }
  }
  .portfolio {
    .heading {
      h2 {
        font-size: $h2FontSizeMob;
      }
    }
  }
  .navigation {
    padding: 0 0px;
    .logo {
      img {
        width: 200px;
      }
    }
    .hamburger {
      right: 30px;
    }
  }

  .landing-page {
    .heading {
      h1 {
        font-size: $h1FontSizeMob;
      }
      h2 {
        font-size: $h2FontSizeMob;
      }
    }
  }

  .about {
    .heading {
      h2 {
        font-size: $h2FontSizeMob;
      }
    }
    .about-text {
      p {
        font-size: $pFontSizeMob;
        padding: 0 15px;
      }
    }
    .cta-contact {
      .btn-contact {
        font-size: $landPageBtnFontSizeMob;
      }
    }
  }

  .gallery {
    .heading {
      h2 {
        font-size: $h2FontSizeMob;
      }
    }
    .about-images {
      p {
        font-size: $pFontSizeMob;
        padding: 0 15px;
        padding-bottom: 40px;
      }
    }
    .image-carousel {
      .carousel {
        .carousel-inner {
          .carousel-item {
            height: 350px;
          }
        }
      }
    }
  }

  .contact {
    .heading {
      h2 {
        font-size: $h2FontSizeMob;
      }
    }
    .contact-info {
      .box {
        p {
          font-size: $pFontSizeMob;
        }
        .svg-inline--fa {
          font-size: 35px;
        }
      }
    }
    .signature {
      display: block;
      h4 {
        font-size: 12px;
      }
    }
  }
}
